snippet sli "seelog.Infof(...)"
seelog.Infof("${1:${VISUAL}} = %+v\n", $1)
endsnippet

snippet sle "seelog.Errorf(...)"
seelog.Errorf("${1:${VISUAL}} = %+v\n", $1)
endsnippet

snippet sli "seelog.Debugf(...)"
seelog.Debugf("${1:${VISUAL}} = %+v\n", $1)
endsnippet

snippet slw "seelog.Warnf(...)"
seelog.Warnf("${1:${VISUAL}} = %+v\n", $1)
endsnippet
