snippet slo "seelog.Infof(...)"
seelog.Infof("${1:${VISUAL}} = %+v\n", $1)
endsnippet

snippet sle "seelog.Errorf(...)"
seelog.Errorf("${1:${VISUAL}} = %+v\n", $1)
endsnippet

snippet sld "seelog.Debugf(...)"
seelog.Debugf("${1:${VISUAL}} = %+v\n", $1)
endsnippet

snippet slw "seelog.Warnf(...)"
seelog.Warnf("${1:${VISUAL}} = %+v\n", $1)
endsnippet

snippet errn "err return" 
if err != nil {
	${1:code}
	return ${1:ret}, err
}
${0}
endsnippet
